body{
    background-color: rgb(153, 153, 153);
}
.login{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 12.5px;
    padding-bottom: 50px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block ;
    border-style: groove;
    border-color: black;
}

.header_login{
    background-color: rgb(216, 219, 30);
    padding: 70px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.header{
    background-color: rgb(179, 37, 37);
    padding: 70px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.link{
    text-align: left;
}

.bold_text{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 130, 216);
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    text-align: center;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;

}
.signup{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 12.5px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 130, 216);
    display: inline-block ; 
    border-style: groove;
    border-color: black;   
}

.button{
    padding: 15px 100px;
    background-color: rgb(21, 255, 0);
    color: black;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-width: initial;
    border-color: rgb(97, 97, 97);
}

.button_signup{
    padding: 15px 85px;
    background-color: rgb(21, 255, 0);
    color: black;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-width: initial;
    border-color: rgb(97, 97, 97);
}

.input{
    padding:10px 5px;width: 250px;font-size:20px;font-family: Arial, Helvetica, sans-serif;text-align: right;  
}

.input_search{
    padding: 10px 5px; 
    width: 500px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: -5px;
}
.input_button{
    padding: 0px;
    background-color: white;
    border-color: white;
    margin-left: -25px;
}
.search_button{
    padding: 5px 20px;
    background-color: rgb(21, 255, 0);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-width: initial;
    border-color: rgb(97, 97, 97);
}
.footer_button{
    padding: 5px 20px;
    background-color: rgb(0, 130, 216);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    border-width: initial;
    border-color: rgb(0,0,0);
}
.footer{
    background-color: rgba(136, 90, 90, 0.438);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.li_header{
    list-style-type: none;
    height: 154px;
    align-self: center;
}
.go_signup{
    padding: 20px 50px;
    background-color: rgb(0, 130, 216);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: large;
    border-width: initial;
    border-color: rgb(0,0,0);  
}
.dont_signup{
    font-weight: 600px;
    font-size: 20px;
    font-family: Arial;
}
.search_b_location{
    margin-left: -40px;
    margin-top: -1px;
}

.Login_button{
    zoom: 2.5;
    color: rgb(0,0,0);
    position: absolute;
    right: 315px;
    top: 15px;
}
.text-login{
    position: absolute;
    left: 465px;
    top: 47.5px;
    font-family: Arial, Helvetica, sans-serif;
}
.search_input{
    width: 600px;
    height: 40px;
    border-radius: 30px;
    margin-top: 35px;
    font-family: negaar;
    padding-left: 15px;
    padding-right: 45px;
    margin-right: 10px;
    position: absolute;
    left : 450px;
    background-color: rgb(206, 206, 206);
    color: blue;
    font-weight: 600;
    border: 0;
    text-align: right;



}
.search_but{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    left: 1012px;
    top: 35px;
    background-color: rgb(206, 206, 206);
    color: blue;
    border: 0;

}

.Footer {
    background-color: rgb(34, 168, 221);
    width: 100%;
    height: 250px;
}

.Footer-H {
    font-family: yekan;
    color: white;
    text-align: right;
    margin-right: 40px;
    font-size: 25px;
}

.Footer-link {
    font-family: yekan;
    color: white;
    text-align: right;
    margin-right: 100px;
    font-size: 20px;  
}
.Footer-link:hover {
    color: rgb(0,0,0);
    text-decoration: none;

}
.Footer-link-1 {
    font-family: yekan;
    color: white;
    text-align: right;
    margin-right: 57.5px;
    font-size: 20px;  
}

.Footer-link-1:hover {
    color: rgb(0,0,0);
    text-decoration: none;
}
.Scob-ic {
    position: absolute;
    top: -15px;
    left: 20px;
    width: 150px;
    height: 150px;
}

.login-but {
    position: absolute;
    top: 40px;
    right: 70px;
    background-color: rgb(111, 221, 0);
    border: 0px;
    width: 125px;
    height: 35px;
    border-radius: 30px;
}