.image_1 {
	margin-top : 125px;
	width : 100%;
	
}
.text_1 {
	font-family: rezvan;
	font-weight: 400;
	font-size: 40px ;
	color : white ;
	position : absolute ;
	top : 300px ;
	left : 50px ;

}

.text_2 {
	font-family: rezvan;
	font-weight: 400;
	font-size: 40px ;
	color : white ;
	position : absolute ;
	top : 375px ;
	left : 100px ;

}
 .Title_1{
	font-family: chamran;
	color : rgba(0, 255, 0, 0.705);
	text-align: center;
	
 }
.dar{
	font-family: yekan;
	font-size: 20px;
	color: rgba(255, 255, 0, 0.884);
	text-align: center;
}
