@font-face { font-family: rezvan; src: url('../fonts/Rezvan-Bold\(babart.ir\).ttf');}
@font-face { font-family: negaar; src: url('../fonts/ANegaar_\(babart.ir\).ttf');}
@font-face { font-family: chamran; src: url('../fonts/AChamran\(babart.ir\).ttf');}
@font-face { font-family: yekan; src: url('../fonts/B\ Yekan_YasDL.com.ttf');}

