.titr{
    color: rgb(100, 100, 100);
    text-align: end;
}
.setting{
    background-color: rgb(75, 75, 75);
    width: 1115px;
    height: auto;
    text-align: left;
}
.sources{
    margin-left: 25px;
    margin-right: 25px;
}